<% var id = Math.round(Math.random() * (1000 - 1) + 1); %>

<h2><%=example.title%></h2>

<% if(example.note) { %>
  <p><%=example.note%></p>
<% } %>

<div>
    <span class="try"><a class="button" href="/console?s=<%=encodeURIComponent(example.statement)%>" target="_blank">Try me</a></span>
    <pre class="brush: sql" id="<%=id%>"><%=example.statement%></pre>
</div>
